// navbar

.header {
  // This comment line is NOT transfered to output css.
  /* This comment line IS transfered to output css.*/
  @include flexMix(flex, space-between);
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // since flex property is used in all components
  //it is better to use it as a mixin, so it is defined in mixins.scss.
  padding: 1rem 6rem;
  i {
    display: none;
  }
  &__logo {
    // using BEM notation, class names can be fused like this.
    width: 50px;
    height: 50px;
  }
  &__links {
    display: flex;
    align-items: center;
    list-style-type: none;
    li {
      padding-right: 0.5rem;
    }
    &--home {
      color: $headerColor;
      border: none;
      background-color: $mainColor;
      //   font-family: Inter;
      //   font-style: normal;
      //   font-weight: 500;
      //   font-size: 1rem;
      //   line-height: 19px;
      //it is defined in mixins.scss.
      @include fontMix(Inter, normal, 500, 1rem, 19px);
    }
    &--disabled {
      // @include fontMix(Inter,normal,400,1rem,19px);
      @extend .header__links--home; // while extending, we must write BEM name in long format. This extended part will be common.
      color: #b8becd;
      font-weight: 400;
    }
    &--login {
      background-color: $mainColor;
      border: 1px solid $btnBorderColor;
      border-radius: 8px;
      @include fontMix(Inter, normal, 500, 1rem, 30px);
      color: $btnColor;
      width: 90px;
    }
    &--register {
      @extend .header__links--login;
      border: none;
      background-color: $btnColor;
      color: $mainColor;
    }
  }
}
